{% extends "index/base2.html" %}
{% block title %}
<title>注册 -- YLZ个人博客</title>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
        {% if not user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <h3 class="panel-title"><b>欢迎注册YLZ-Blog</b></h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in reg_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="pull-left text-danger">{{ reg_form.non_field_errors }}</span>
                        <br>
                        <div class="clearfix"></div>
                        <button id="send_code" class="btn btn-primary pull-left">发送验证码</button>
                       <input class="btn btn-primary pull-right" type="submit" value="注册">
                    </form>
                </div>
            </div>
        {% else %}
            <h2><span>已登录，正在跳转到首页......</span></h2><br>
            <script type="text/javascript">
            　　function jumurl(){
            　　window.location.href = '/';
            　　}
            　　setTimeout(jumurl,3000);
        　　</script>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script_extend %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }

            // 发送验证码
            $.ajax({
                url: "{% url 'index:send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'register_code'
                },
                cache: false,
                success: function(data){
                    if(data['status']=='ERROR'){
                        alert(data['status']);
                    }
                }
            });

            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 60;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{%endblock %}
